/* base container */
*{
    margin: 0;
    padding: 0;  
}
body{
    margin: 0;
    padding: 0;  
    background-color: #2a2b2a;
}

.outer-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;        
}
.container {
    width: 90%;               
    
             
     
}

/* grid managment  */

.main-container{
    background-color: #161718;
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    gap: 10px;
    border-radius: 15px;    
    

}

.display{
    border-radius: 15px;
    padding:15px;
}




/* left display  */

.left{
    
    background-color: rgb(27, 27, 26);
    margin: 0;
    padding: 0;
    width: 170px;
   }
.menu{
    height: 85vh;
   
    
    
    
}
.logo{
   display: flex;
   padding: 15px;
   height: 50px;
   width: 50px;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(160, 157, 157);
    fill: #e0e0e0;
    padding: 10px;
    display: block;
    
    
    
}

li{
  list-style: none;
  margin:0 10px;
}

.menu-log{
    display: flex;
    align-items: end;
    height: 5vh;
}



/* main display  */

.main{
    background-color: #161718;
   }
.main-grid-container{
    width: 90%;               
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 3fr;
    row-gap: 15px;
    
    
}
.gridcontainer{
    border-radius: 10px;
}
.loginfo{
    background-color: rgb(27, 27, 26);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 50px;
}

.smartdisplay{
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.distance, .energy, .sleep, .time {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    margin: 0;
    gap: 5px; 
}

.activity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.rundisplay{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    
}
.run{
    background-color: rgb(27, 27, 26);
    border-radius: 10px;
}

.wrapper{
display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 0;
}

.trainerdisplay{
    background-color: rgb(27, 27, 26);
}
  
/* right-display */

.right{
    background-color: rgb(27, 27, 26);
    margin: 20px;
    }



/* style class */


.cs-white{
    color:  linear-gradient(135deg, #ffffff, #e0e0e0);
    fill: #e0e0e0;
}

.cream{
    background-color: #EFECE9;
   
}
.rose{
    background-color: #ECC4DE;
    
}
.light-green{
    
    background-color:#8CBBD2;
    
}
.light-rose{
    background-color: #E4D2E7;
}


p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;
}

@media (max-width:750px) {
    .left{
        display: none;
    }
    .smartdisplay{
        display: flex;
        flex-direction: column;

    }
    
}
