/* base container */
*{
    margin: 0;
    padding: 0;  
}
body{
    margin: 0;
    padding: 0;  
    background-color:#292929;
}

.outer-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;        
}
.container {
    width: 90%;               
    
             
     
}

/* grid managment  */

.main-container{
    background-color: rgba(16,15,20,255);
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    gap: 5px;
    border-radius: 15px;    
    

}

.display{
    border-radius: 15px;
    padding:15px;
}




/* left display  */

.left{
    
    background-color: #1b1b1d;
    margin: 5px 0;
    padding: 0;
    width: 200px;
    border-radius: 15px;
   }
.menu{
    height: 85vh;
   
    
    
    
}
.logo{
   display: flex;
   padding: 15px;
   height: 50px;
   width: 50px;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(160, 157, 157);
    fill: #e0e0e0;
    padding: 10px 30px;
    display: block;
}

a:hover{
    color:white;
    fill: aliceblue;
}
li{
  list-style: none;
  margin:0 10px;
}

.menu-log{
    display: flex;
    align-items: end;
    height: 5vh;
}



/* main display  */

.main{
    background-color: rgba(16,15,20,255);
    display: flex;
    justify-content: center;
   }
.main-grid-container{
    width: 90%;               
    display: grid;
    grid-template-rows: 0.1fr 4fr 2fr 3fr;
    row-gap: 15px;
    
    
}
.gridcontainer{
    border-radius: 10px;
}

/* log in container  */

.loginfo{
    background-color: rgba(16,15,20,255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 40px;
   
}


.smartdisplay{
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.distance, .energy, .sleep, .time {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    margin: 0;
    gap: 5px; 
}

.activity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.activity:hover{
    transform: scale(1.1); 
    box-shadow: 0 8px 16px #1b1b1d;; 
}
.rundisplay{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

    
}
.run{
    background-color: #1b1b1d;
    border-radius: 10px;
    color: aliceblue;
}
.run:hover{
    transform: scale3d(1.03, 0.95, 10);
}

.wrapper{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 0;
}

.trainerdisplay{
    background-color: #1b1b1d;
    color: #e0e0e0;
}
.trainerdisplay p{
    color: #e0e0e0;
    font-size: 25px;
    
    
}
.trainer-prof{
    display: flex;
    margin: 20px 30px;
}
.trainer-container{
    
    
}
#trainer-photo{
    height: 70px;
    width: 70px;  
}
.progress-display{
    display: flex;
    justify-content: center;
}
/* Calendar margin arrangement  */
.Tcalendar{
 font-size: 13px;
 color: rgb(149, 149, 150);
}

  
/* right-display */

.right{
    background-color: #1b1b1d;
    margin: 20px;
    }

.right-grid-container{
    display: grid;
    grid-row: 1fr 1fr;
    gap: 15px;
    
}

.graph{
    display: flex;
    height: 400px;
}
.graph p{
    color: #e0e0e0;
    font-size: 25px;
}
.TotalTime-container{
    display: flex;
}

.activitytracker{
    background-color: none;
    padding: 10px;
    border-radius: 50%;
    border-color: #bebebe;
    color:#bebebe; 

}
.graph{
   
    display: flex;
    flex-direction: column;
    
}
.date-list{
    display: flex;
    margin: 0;
    padding: 0;
}

.date-list-container{
    list-style: none;
    padding: 0;
    margin: 0;
}
.date-list-container li{
    display: inline-block;
    margin-right: 10px;
}

.date-list-container  p{
  font-size: 15px;
  color: #ccc6c6;
}


/* gridcontainer Total-container */

.Totals{
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
    
    
}
.two-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
}

.Totaltime-Display{
  border-radius: 15px;
  margin: 10px;
}


.Avaragespeed{
    width: 200px;
    border-radius: 15px;
}
.Totaldistance{
    width: 200px;
    border-radius: 15px;
}
.bar-wrapper{
    
    height: 150px;
    display: flex;
    align-items: end;
}


/* custom style class */

/* custom colors  */

.black{
    background-color:#232325;
}

.cs-white{
    color:  linear-gradient(135deg, #ffffff, #e0e0e0);
    fill: #e0e0e0;
}

.cream{
    background-color: #EFECE9;
   
}
.rose{
    background-color: #ECC4DE;
    
}
.light-green{
    
    background-color:#8CBBD2;
    
}
.light-rose{
    background-color: #E4D2E7;
}

.svg-green{
    fill:rgb(116, 175, 116);
    color: rgb(116, 175, 116);;
}

.svg-red{
    color: rgb(241, 90, 21);
    fill: rgb(241, 90, 21);
}

/* custom font  */

/* total class font for retried data  */
.tf{     
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.bi-fire ,.bi-map  {
    width: 26px;  /* Adjust size */
    height: 26px; /* Adjust size */
}

p{
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0 5px 5px ;
    color: rgb(110, 111, 112);
}
.data{
    color: #ffffff;
    fill: #ffffff;;
}

.m-r-3{
    margin-right: 20px;
}
.m-1{
    margin-left: 5px;
}

.m-2{
    margin-left: 15px;
}
.m-3{
    margin-left: 20px;
}
.m-t-3{
    margin-top: 20px;
}

.p-1{
    padding-left: 10px;
}
/* Total time of the week bars  */
.days{
    display: flex;
    gap: 5px;
}
.date{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 20px;
    margin-top: 10px;
    font-size: 14px;
    color: #cccccc;
    transition: box-shadow 0.3s ease;  /* Smooth transition */
}

.date:hover{
    background-color: #444444;
    cursor: pointer;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
}
.bar-container {
    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 4px;
    box-sizing: border-box;
    gap: 10px; /* Adds space between bars */
}
/* calender */
.calendar {
    display: flex;
    gap: 10px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}


.day-name {
    font-size: 14px;
    color: #cccccc;
}

.day-date {
    font-size: 18px;
    margin-top: 5px;
    color: #cccccc;
}

.selected {
    background-color: #333333;
    color: #ffffff;
}

.day:hover {
    background-color: #444444;
    cursor: pointer;
}



/* symetry css  */

.bar-container {
    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 4px;
    box-sizing: border-box;
    gap: 10px; /* Adds space between bars */
}

.bar-ct {
    width: 3px;
    height: 4px;
    background-color: rgb(41, 40, 39);
    border-radius: 15px;
    border: 1px solid rgb(216, 214, 216);
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}
.bar-energy {
    width: 3px;
    height: 4px;
    background-color: rgb(41, 40, 39);
    border-radius: 15px;
    border: 1px solid rgb(216, 214, 216);
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.bar {
    width: 100%;
    background-color: aliceblue;
    border-radius: 15px;
    transition: height 0.3s ease; /* Smooth transition for height change */
    position: absolute;
    bottom: 0;
}

.percentagedisplay {
    font-size: larger;
    color: aliceblue;
    
}



@media (max-width:750px) {
    .left{
        display: none;
    }
    .smartdisplay{
        display: flex;
        flex-direction: column;

    }
    
}
